<dialog id="turbo-confirm">
  <form method="dialog">
    <h3 data-behavior="title">Are you sure?</h3>

    <div data-behavior="description"></div>
    <input data-behavior="confirm-text" />

    <div>
      <button value="cancel">Cancel</button>
      <button value="confirm">Confirm</button>
    </div>
  </form>
</dialog>
